{% extends "invApp/layout.html" %}

{% block title %} Product Form {% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center mb-4">Product Form</h1>

    <form method="POST" class="card p-4"> 
        {% csrf_token %}

        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    <div class="alert alert-danger">
                        {{ field.errors }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-success btn-block">Save Product</button>
    </form>
</div>
{% endblock %}